<div class="row deck">
	<div class="col-md-1"></div>
	<div id="infobox-wrapper" class="col-md-4">
		<div id="infobox" class="card">
			<p>
				<a class="title">Hello  \(^◇^)/</a>
			</p>
			<center><img id="info-image" src="images/pusheen-small.png"/></center>
			<p>
				Hewanlucu adalah website yang berisi, well, gambar hewan-hewan lucu.
				Semua gambar di website ini didapat dari Reddit (<a href="http://reddit.com/r/aww">r/aww</a>).
			</p>
			<p>
				Website ini saya buat untuk mengisi waktu luang di bulan Mei 
				sekaligus berlatih mengerjakan tugas full-stack dev dengan baik 
				(back-end, front-end, database, dan <i>crawler</i> yang ON setiap saat).
			</p>
			<p>
				Yah, sekian tentang web ini. Walau sederhana, saya harap dapat cukup menghibur. Terimakasih.
			</p>
			<hr>
			<div class="" id="">
				<div class="">
					<div class="">
						<p>
							<a class="">
								Technologies
							</a>
						</p>
					</div>
					<div id="" class="">
						<div class="">
							<p>
								Crawler : nodejs + python<br>
								Backend : nodejs + mongodb<br>
								Front-end : angularjs + bootstrap
							</p>
						</div>
					</div>
				</div>
				<div class="">
					<div class="">
						<p>
							<a class="">
								About
							</a>
						</p>
					</div>
					<div id="" class="">
						<div class="">
							<p>Dibuat sepenuh <span class="glyphicon glyphicon-heart"></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-init="loadmongo()">
		<div class="card" ng-repeat="item in items track by $index">
			<p>
				<a class="title" href="{{item.raw_url}}" target="_blank">{{item.title}}</a>
			</p>
			<input type="hidden" value="{{item.r_id}}">
			<p class="info">{{item.ups}} upvotes - <a href="{{'http://reddit.com' + item.permalink}}">{{item.num_comments}} comments</a></p>
			<img ng-repeat="url in item.img_urls" ng-src="{{url}}"/><img>
			<a class="info_date">{{item.created_pretty}}</a>
		</div>
		<div id="loadmorebox" class="card">
			<a ng-click="loadmongo()" class="" href="">{{load_text}}</a>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>