<div class="row deck">
	<div class="col-md-1"></div>
	<div id="infobox-wrapper" class="col-md-4">
		<div id="infobox" class="card">
			<!-- <p>
				<a class="title">Pengantar</a>
			</p> -->
			<p>
				Website ini dibuat untuk mengisi kesenggangan di bulan Mei.
			</p>
			<p>
				Semua gambar-gambar hewan lucu di website ini didapat dari <a href="http://reddit.com/r/aww">r/aww</a>.
			</p>
			<hr>
			<div class="accordion" id="accordion1">
				<div class="accordion-group">
					<div class="accordion-heading">
						<p>
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-technologies">
								Technologies
							</a>
						</p>
					</div>
					<div id="collapse-technologies" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>
								Crawler : nodejs<br>
								Backend : nodejs + mongodb<br>
								Front-end : angularjs + bootstrap
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<p>
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse-about">
								About
							</a>
						</p>
					</div>
					<div id="collapse-about" class="accordion-body collapse">
						<div class="accordion-inner">
							<p>Dibuat sepenuh <span class="glyphicon glyphicon-heart"></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-init="loadmongo()">
		<div class="card" ng-repeat="item in items track by $index">
			<p>
				<a class="title" href="{{item.raw_url}}">{{item.title}}</a>
			</p>
			<input type="hidden" value="{{item.r_id}}">
			<p class="info">{{item.ups}} upvotes - <a href="{{'http://reddit.com' + item.permalink}}">{{item.num_comments}} comments</a></p>
			<img ng-repeat="url in item.img_urls" ng-src="{{url}}"/><img>
		</div>
		<div id="loadmorebox" class="card">
			<a ng-click="loadmongo()" class="" href="">{{load_text}}</a>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>