@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Oswald');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url('../images/polos.jpg');
  /*background: -webkit-linear-gradient(#e5e5e5, #E1E1E1);
  background: -o-linear-gradient(#e5e5e5, #E1E1E1);
  background: -moz-linear-gradient(#e5e5e5, #E1E1E1);
  background: linear-gradient(#e5e5e5, #E1E1E1);*/
  background-attachment: fixed;
  background-size: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  div.card {
    margin: 100px 20px;
  }
}



div#transbox {
  /*background-color: rgba(144, 144, 144, 0.66);*/
}

div.deck {
  margin-right: 0px;
  margin-left: 0px;
  }
  div#infobox{
    width: 100%;
    }
    div#infobox .title {
      color: #000;
      font-size: 24px;
      text-decoration: none;
      }
    div#infobox img#info-image{
      max-width: 182px;
      }
  div.card {
    margin: 10px 0;
    background-color: #fff;
    word-wrap: break-word;
    padding: 15px 15px;
    border: 1px solid #E1E8ED;
    /*border-radius: 5px;*/
    }
    div.card img {
      width: 100%;
      margin-bottom: 10px;
      cursor: zoom-in;
      }
    div.card .title {
      color: #000;
      font-size: 24px;
      text-decoration: none;
      font-family: 'Oswald';
      }
    div.card .title:hover {
      color: #55e;
      }
.info_date: {
  color: #000;
  text-align: center;
  }

div#loadmorebox {
  text-align: center;
}

p {
  font-family: 'Roboto';
}

.modal-dialog {
  width: 768px;
}

.modal-content {
  border-radius: 0px;
  border: 0px;
}

.modal-body {
  padding: 0px;
}
